 <style>
    nav a,a:hover{
        color: rgb(153, 129, 129);
    }
    .navbar-brand:hover{
        color: initial;
    }
</style>
<div>
    <nav class="navbar navbar-expand-md text-left navigation-clean" style=" background-color: #313131; color: white;">
        <div class="container"><a class="navbar-brand" href="/" style="font-family: 'Alfa Slab One', cursive;">&nbsp;<span style="color: #695ca0;">Movies&nbsp;</span><span style="color: #fff;">Trends</span></a>
              <button class="navbar-toggler " data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon text-light bg-success"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <!-- <form id="search-form" method="get" action="/search" class="form-inline mr-auto">
                        <input type="search" placeholder="Search movies" class="form-control" name="q" style="border-radius: 0;"><span style="width: 2px;"></span><button type="submit" class="btn btn-primary" style="border-radius: 0;">Search</button>
                      </form> -->
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Movies</a></li>
                    <li class="nav-item" role="presentation"><p class="nav-link text-muted" href="/">Tv Series</p></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('main.genres')}}">Genres</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="dropdown nav-item"><a class="dropdown-toggle nav-link nav navbar-nav navbar-right" data-toggle="dropdown" aria-expanded="false" href="#">{{current_user.username}}</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="">Profile</a><a class="dropdown-item" role="presentation" href="/">Logout</a></div>
                    </li>
                    {% else %}
                    <li class="dropdown nav-item nav navbar-nav navbar-right"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Logged Out</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/">Login</a></div>
                    </li>
                    {% endif %}
                </ul>
        </div>
</div>
</nav>
</div>
